@font-face {
  font-family: 'ChanakyaUni-Bold';
  src: url('ChanakyaUni-Bold.svg#ChanakyaUni-Bold') format('svg'),
       url('ChanakyaUni-Bold.ttf') format('truetype'),
       url('ChanakyaUni-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ChanakyaUniB';
  src: url('ChanakyaUniB.eot');
  src: url('ChanakyaUniB.eot?#iefix') format('embedded-opentype'),
       url('ChanakyaUniB.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

